   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: #f5f5f5;
        }

        /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 8%;
          
            color: #fff;
        }


        .logo img {
            width: 120px;
            height: 60px;
            border-radius: 5px;
            object-fit: cover;
        }

        .applynow{
            padding:15px 35px;
    background:#b83c78;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
        
        }
        .box:hover{
            transition: all 1s;
            scale: 1.2;
            cursor: pointer;
        }

        .hero{
    width:100%;
    min-height:90vh;
    background:#eef5ff;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    overflow:hidden;
    padding:50px 8%;
}

.hero-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.hero-text{
    width:45%;
}

.hero-text h1{
    font-size:70px;
    color:#0d47a1;
}

.hero-text h2{
    font-size:55px;
    color:#f7931e;
    margin:10px 0;
}

.hero-text p{
    font-size:26px;
    margin:25px 0;
    line-height:1.5;
}

.buttons{
    display:flex;
    gap:20px;
}

.apply{
    padding:15px 35px;
    background:#0d47a1;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.contact{
    padding:15px 35px;
    background:#fff;
    color:#0d47a1;
    border:2px solid #0d47a1;
    border-radius:8px;
    cursor:pointer;
}

.hero-image{
    width:50%;
}

.hero-image img{
    width:100%;
    border-radius:10px;
}

.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#ffffffcc;
    font-size:28px;
    cursor:pointer;
}

.left{
    left:20px;
}

.right{
    right:20px;
}

.dots{
    position:absolute;
    bottom:30px;
    display:flex;
    gap:10px;
}

.dot{
    width:14px;
    height:14px;
    background:#ccc;
    border-radius:50%;
    cursor:pointer;
}

.active{
    background:#0d47a1;
}

@media(max-width:768px){

.hero-content{
    flex-direction:column;
}

.hero-text,
.hero-image{
    width:100%;
    text-align:center;
}

.hero-text h1{
    font-size:45px;
}

.hero-text h2{
    font-size:32px;
}

.hero-text p{
    font-size:18px;
}

.buttons{
    justify-content:center;
    flex-wrap:wrap;
}

.hero-image{
    margin-top:30px;
}

}
        li{
          padding: 8px;
          border-radius: 2px;
        }

        .nav-links a {
            position: relative;
            text-decoration: none;
            color: black;
            padding: 5px 0;
        }

        .nav-links a::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0px;
            width: 0;
            height: 2.5px;
            background: #00c3ff;
            transition: width 0.3s ease;
        }

        .nav-links a:hover::after {
            width: 100%;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 30px;
        }

        .nav-links a {
            text-decoration: none;
            color: #352525;
            font-size: 18px;
            transition: .3s;
            font-weight: bold;
        }



        /* Hide checkbox */
        #menu-toggle {
            display: none;
        }

        /* Hamburger */
        .menu-btn {
            display: none;
            font-size: 30px;
            cursor: pointer;
        }

        /* Mobile */
        @media(max-width:768px) {

            .menu-btn {
                display: block;
            }

            .nav-links {
                position: absolute;
                top: 90px;
                left: -100%;
                width: 100%;
                background: #7c3484;
                flex-direction: column;
                text-align: center;
                transition: .4s;
                gap: 20px;
                padding: 20px 0;
            }

            .nav-links li {
                padding: 10px;
            }

            #menu-toggle:checked~.nav-links {
                left: 0;
            }

        }


    p{
        display: block;
    }
    .box{
        padding: 20px;
        background-color: rgb(160, 199, 202);
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .mainsection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box img {
  width: 50px;
  height: 50px;
}

.box h1 {
  font-size: 24px;
  margin: 15px 0;
}

.box p {
  font-size: 16px;
  color: #555;
}
    




    @media (max-width: 768px) {
  .mainsection {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .box h1 {
    font-size: 20px;
  }

  .box p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .mainsection {
    grid-template-columns: 1fr;
    padding: 15px;

  }

  .box {
    padding: 20px;
  }

  .box img {
    width: 40px;
    height: 40px;
  }

  .box h1 {
    font-size: 18px;
  }

  .box p {
    font-size: 13px;
  }
}




